<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Item name="DefaultFilePath" value="C:\SudokU" />
  <Item name="Language" value="Magyar" />
  <Item name="CellRedBackgroundEnabled" value="True" />
  <Item name="ShowIncorrectCellsEnabled" value="False" />
  <Item name="ShowNumberOfIncorrectCellsEnabled" value="False" />
  <Item name="ShowWhetherSolutionIsCorrect" value="True" />
  <Item name="SumOfNumbersBiggerInCageCheckEnabled" value="True" />
</Configuration>
