<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Item name="alapFajlUtvonal" value="C:\SudokU" />
  <Item name="alapNyelv" value="Magyar" />
  <Item name="helpRed" value="True" />
  <Item name="rosszakMutat" value="False" />
  <Item name="hanyRosszMutat" value="True" />
  <Item name="joVagyRosszMutat" value="False" />
  <Item name="cageSum" value="True" />
</Configuration>